---
apiVersion: svc.dpu.nvidia.com/v1alpha1
kind: DPUServiceConfiguration
metadata:
  name: mgx-tmm
  namespace: dpf-operator-system
spec:
  deploymentServiceName: "mgx-tmm"
  interfaces:
    - name: internal
      network: mybrsfc-tmm
    - name: external
      network: mybrsfc-tmm
  serviceConfiguration:
    serviceDaemonSet:
      resources:
        hugepages-2Mi: "4Gi"
        memory: "1Gi"
        cpu: "2"
        nvidia.com/bf_sf_trusted: 2
      annotations:
        k8s.v1.cni.cncf.io/networks: |-
          [
            {"name": "iprequest", "interface": "ip_internal", "cni-args": {"poolNames": ["mgx-tenant"], "poolType": "ippool"}},
            {"name": "iprequest", "interface": "ip_external", "cni-args": {"poolNames": ["mgx-tmm"], "poolType": "ippool"}}
          ]
    configPorts:
      serviceType: NodePort
      ports:
        - name: grpc-0
          port: 8750
          protocol: TCP
        - name: configview
          port: 8850
          protocol: TCP
    helmChart:
      values:
        tmm:
          image:
            repository: repo.f5.com/images
            name: tmm-img
          imagePullPolicy: IfNotPresent
          customEnvVars:
            - name: TMM_MAPRES_HUGEPAGES
              value: 1536
            - name: PAL_CPU_SET
              value: "9,10"
            - name: TMM_DPF_ENV
              value: "true"
            - name: TMM_MAPRES_VERBOSITY
              value: debug
          dynamicRouting:
            enabled: true
            exportZebosLogs: false
            exportTmroutedLogs: false
            tmmRouting:
              image:
                repository: repo.f5.com/images
              imagePullPolicy: IfNotPresent
              config:
                bgp:
                  asn: 65533
                  hostname: spk-bgp
                  neighbors:
                  - ip: 172.27.1.1
                    asn: 200
                    ebgpMultihop: 1
                    maxPathsEbgp: 4
                    maxPathsIbgp: 'null'
                    acceptsIPv4: true
                    softReconf: true
            tmrouted:
              image:
                repository: repo.f5.com/images
              imagePullPolicy: IfNotPresent
          service:
            name: f5-tmm
            type: ClusterIP
          qkview:
            enabled: false
          f5_csm_qkview:
            enabled: false
          readinessGates:
            enabled: false
        blobd:
          enabled: false
        debug:
          enabled: true
          image:
            repository: repo.f5.com/images
          imagePullPolicy: IfNotPresent
          f5_csm_qkview:
            enabled: false
        prometheus:
          create: false
        f5_csm_qkview:
          enabled: false
        tmrouted:
          f5_csm_qkview:
            enabled: false
